<ul id="messages"></ul>
  <div id="chatform" >
    <input id="messageInput" autocomplete="off" />
    <div class="btnDiv">
    <button id="sendButton" class=" m-1 p-1">Send</button>
    <button id="apiButton" class="m-1 p-1">Clear</button>
    </div>
  </div>