<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/jass.css">
  <title>Tek Tok</title>
</head>



<body>
  <div class="flex-column justify-space-around">
    <header class="header display-flex justify-space-between">
      <div class="row">
        <img src="./assets/tektok.png" alt="logo" class="logo px-5">
        <nav>
          <ul class="ul">
            <li>
              <a href="#Home">Home</a>
            </li>
            <li>
              <a href="#Profile">Profile</a>
            </li>
            <li>
              <a href="#Resources">Resources</a>
            </li>
            <li>
              <a href="#Games">Games</a>
            </li>
          </ul>
        </nav>
    </header>

    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>


    <footer class="footer display-flex justify-space-between align-center">
      <div class="container">
        <div class="col">



          <nav>
            <h3 class="col-3">Tek Tok</h3>
            <aside class="col-3">
              <h4>Learn</h4>
              <ul>
                <li>
                  <a href="#CSS">CSS</a>
                </li>
                <li>
                  <a href="#HTML">HTML</a>
                </li>
                <li>
                  <a href="#JavaScript">Javascript</a>
                </li>
                <li>
                  <a href="#React">React</a>
                </li>
              </ul>
            </aside>

            <aside class="col-3">
              <h4>About Tek Tok</h4>
              <ul>
                <li>
                  <a href="#Team">Team</a>
                </li>
                <li>
                  <a href="#Back Story">Back Story</a>
                </li>
                <li>
                  <a href="#Hiring">Hiring</a>
                </li>
                <li>
                  <a href="#Engagemnt">Engagemnt</a>
                </li>
              </ul>
            </aside>

            <aside class="col-3">
              <h4>Partner With Us</h4>
              <ul>
                <li>
                  <a href="#Partners">Partners</a>
                </li>
                <li>
                  <a href="#Branding Guidelines">Branding Guidelines</a>
                </li>
                <li>
                  <a href="#Explore Internships">Explore Interships</a>
                </li>
                <li>
                  <a href="#Testimonials">Testimonials</a>
                </li>
              </ul>
            </aside>

          </nav>
        </div>
      </div>
    </footer>

  </div>
</body>

</html>