<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/jass.css">
  <title>Tek Tok</title>
</head>



<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <img src="./assets/tektok.png" alt="logo" class="logo px-5">
      <nav>
            <a href="/" class="a">Home</a>
            <a href="/resources" class="a">Resources</a>
            <a href="/games" class="a">Games</a>
            <a href="/profile" class="a">Profile | </a>

            {{#if logged_in}}
            <button class="no-button" id="logout">Logout</button>
            {{else}}
            <!-- else -->
            <a href="/login" class="a">Login</a>
            {{/if}}
            <!-- end if -->
            {{!--
          </li>
        </ul> --}}
      </nav>
    </header>

    <main class="container container-fluid mt-5 row">
      {{{body}}}
    </main>


    <footer class="footer display-flex justify-space-between align-center">
      <div class="container">
        <div class="col">



          <nav>
            <h3 class="col-3">Tek Tok</h3>
            <aside class="col-3">
              <h4>Learn</h4>
              <a href="#CSS" class="a">CSS</a>
              <a href="#HTML" class="a">HTML</a>
              <a href="#JavaScript" class="a">Javascript</a>
              <a href="#React" class="a">React</a>
            </aside>

            <aside class="col-3">
              <h4>About Tek Tok</h4>
              <a href="#Team" class="a">Team</a>
              <a href="#Back Story" class="a">Back Story</a>
              <a href="#Hiring" class="a">Hiring</a>
              <a href="#Engagemnt" class="a">Engagemnt</a>
            </aside>

            <aside class="col-3">
              <h4>Partner With Us</h4>
              <a href="#Partners" class="a">Partners</a>
              <a href="#Branding Guidelines" class="a">Branding Guidelines</a>
              <a href="#Explore Internships" class="a">Explore Interships</a>
              <a href="#Testimonials" class="a">Testimonials</a>
            </aside>

          </nav>
        </div>
      </div>
    </footer>

  </div>
</body>

</html>