<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/quiz.css">
  <link rel="icon" href="/assets/apple-icon-180x180.png" />
  <title>Tek Tok</title>
</head>

<body>
  <div class="flex-column justify-space-between">
    <header class="display-flex justify-space-between align-center p-2">
     
      <div class="animate__animated animate__fadeInRightBig">
      <object id="svg1"  data="/assets/tektokyellowtext.svg" type="image/svg+xml" width="150" height="150"></object>
      </div>
     

      <nav>
        {{!-- <div class="animate__animated animate__fadeInRight"> --}}
    <div>
      <ul class="row justify-content-around mr-5 nav-list">
       <li class="nav-item animate__animated animate__fadeInRightBig">
          <a href="/" class="a">Home</a>
       </li>
       <li class="nav-item animate__animated animate__fadeInRightBig">
          <a href="/resources" class="a">Resources</a>
       </li> 
       <li class="nav-item animate__animated animate__fadeInRightBig">
        <a href="/games" class="a">Games</a>
       </li>
       <li class="nav-item animate__animated animate__fadeInRightBig">
         <a href="/profile" class="a">Profile</a>
       </li>
   
        {{#if logged_in}}
        <li class="animate__animated animate__fadeInRightBig">
        <button class="no-button" id="logout">Logout</button>
        </li>
        {{else}}
        <!-- else -->
        <li class="animate__animated animate__fadeInRightBig">
        <a href="/login" class="a">Login</a>
        </li>
        {{/if}}
        <!-- end if -->
        {{!--
        </li>
        </ul> --}}
       </ul>
    </div>
     </nav>
    </header>

    <main class="justify-space-between mt-5 row">
      {{{body}}}
    </main>

    <footer class="footer display-flex justify-space-between align-center">
      <div class="container">
        <div class="col">
          <nav>
            <h3 id="tektok" class="col-3">Tek Tok</h3>
            <aside id="label" class="col-3">
              <h4 class="label">Learn</h4>
              <a href="/resources" class="a">CSS</a>
              <br />
              <a href="/resources" class="a">HTML</a>
              <br />
              <a href="/resources" class="a">Javascript</a>
              <br />
              <a href="https://react.dev/" target="_blank" class="a">React</a>
            </aside>
            <aside id="label" class="col-3">
              <h4 class="label">About Tek Tok</h4>
              <a href="/aboutus" class="a">Back Story</a>
              <br />
              <a href="/comingsoon" class="a">Hiring</a>
              <br />
              <a href="/comingsoon" class="a">Engagemnt</a>
            </aside>
            <aside id="label" class="col-3">
              <h4 class="label">Partner With Us</h4>
              <a href="/comingsoon" class="a">Partners</a>
              <br />
              <a href="/comingsoon" class="a">Branding Guidelines</a>
              <br />
              <a href="/comingsoon" class="a">Explore Interships</a>
              <br />
              <a href="/comingsoon" class="a">Testimonials</a>
            </aside>
          </nav>
        </div>
      </div>
    </footer>
  </div>
  {{#if logged_in}}
  <script type="text/javascript" src="/js/logout.js"></script>
  {{/if}}
  {{!-- <script src="anime.min.js"></script> --}}
</body>

</html>