<main>
  <div>
    <h2 class="text-center">OUR STORY</h2>
    <section class="m-5">
      <p>Welcome to Tek Tok! (Not to be confused with Tik Tok). We got our start in the spring of 2024 while four
        individuals from all over the US found themselves paired up while enrolled in a full-stack coding program at
        the University of Minnesota. Through late night discussions, laughter, tears, and an idea that it would be great
        to have a social-media site for programmers; Tek Tok was born. Thanks for Checking us out! </p>
      <h2 class="text-center meettitle">Meet the Team: Tek Tok's Creators</h2>
    </section>
    <section class="meetteam">
      <a href="https://github.com/rvbouu" class="teammember">
        <img src="https://avatars.githubusercontent.com/u/158100739?v=4" alt="Vanessa Bou" class="aboutuspic" />
        <h3>Vanessa Bou</h3>
      </a>
      <a href="https://github.com/magtron3030" class="teammember">
        <img src="https://avatars.githubusercontent.com/u/162045153?v=4" alt="Maggie McDowell" class="aboutuspic" />
        <h3>Maggie McDowell</h3>
      </a>
      <a href="https://github.com/Reynoldscode" class="teammember">
        <img src="https://avatars.githubusercontent.com/u/41800514?v=4" alt="Reynolds Frempong Addy"
          class="aboutuspic" />
        <h3>Reynolds Frempong Addy</h3>
      </a>
      <a href="https://github.com/JoelhansenMN" class="teammember">
        <img src="https://avatars.githubusercontent.com/u/161772718?v=4" alt="Joel Hansen" class="aboutuspic" />
        <h3>Joel Hansen</h3>
      </a>
    </section>
  </div>
</main>