<main>
  <div>
    <h2 class="text-center">OUR STORY</h2>
    <ul>
    <p>Welcome to Tek Tok! (Not to be confused with Tik Tok). We got our start in the spring of 2024 while four individuals from all over the US found themselves paired up while enrolled in a full-stack coding program at the University of Minnesota. Through late night discussions, laughter, tears, and an idea that it would be great to have a social-media site for programmers; Tek Tok was born. Thanks for Checking us out! </p>
    <h2 class="text-center">Meet the Team: Tek Tok's Creators</h2>
    </ul>
    <ul>
      <h4>Vanessa Bou</h4>
    </ul>
    <ul>
      <h4>Maggie McDowell</h4>
    </ul>
    <ul>
      <h4>Reynolds Frempong Addy</h4>
    </ul>
    <ul>
      <h4>Joel Hansen</h4>
    </ul>


  </div>
</main>