<main>
  <div>
    <h2 class="text-center">OUR STORY</h2>
    <ul>
    <p>Welcome to Tek Tok! (Not to be confused with Tik Tok). We got our start in the spring of 2024 while four individuals from all over the US found themselves paired up while enrolled in a full-stack coding program at the University of Minnesota. Through late night discussions, laughter, tears, and an idea that it would be great to have a social-media site for programmers; Tek Tok was born. Thanks for Checking us out! </p>
    <h2 class="text-center">Meet the Team: Tek Tok's Creators</h2>
    </ul>


<div class="container">
  <div class=" row row-col-4">
    <div class="col">  
    <ul>
      <h4>Vanessa Bou</h4>
      <img src="/assets/Vanessa Bou.jpeg" alt="photo" height="150px" width="150px" class="mb-3">
      <p>Short bio about Vanessa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum accusantium nemo inventore molestiae aliquam placeat maiores, id sint necessitatibus est ut ipsum saepe atque, a, libero perspiciatis velit ea modi.</p>
    </ul>
    </div>
  

 
    <div class="col">  
    <ul>
      <h4>Maggie McDowell</h4>
      <p>Short bio about Maggie. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non sit maiores rem alias in, deleniti voluptate. Maxime porro quis veritatis possimus, voluptatum neque. Id, qui. Deserunt dicta voluptatum ipsam odit.</p>
      <img src="/assets/maggie.png" alt="photo" height="150px" width="150px">
    </ul>
    </div>
  

    <div class="col">
    <ul>
      <h4>Reynolds Frempong Addy</h4>
      <img src="/assets/Reynolds Addy.jpeg" alt="photo" height="150px" width="150px" class="mb-3">
      <p>Short bio about Rey. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, voluptas nobis esse, deserunt porro libero quidem magnam ex nemo quasi blanditiis, dolorem magni recusandae laudantium repellat totam sunt voluptatum vel.</p>
    </ul>
    </div>

    <div class="col"
    <ul>
      <h4>Joel Hansen</h4>
      <p>Short bio about Joel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, voluptas nobis esse, deserunt porro libero quidem magnam ex nemo quasi blanditiis, dolorem magni recusandae laudantium repellat totam sunt voluptatum vel.  </p>
      <img src="/assets/Joel Hansen.jpeg" alt="photo" height="150px" width="150px">
    </ul>
   </div>
</div>
  </div>
</main>