<main >
  <div class="text-center m-5">
  <h1>Coming Soon from the Creators of Tek Tok.</h1>
    <h3>A place where Tech Talks</h3>
    <img src="./assets/tektok.png" alt="logo" class="img-fluid">

    
  </div>
</main>