{{!--Landing page for undeveloped portions of website for phase two upon completion of MVP --}}
<main >
  <div class="text-center m-5">
  <h1 class="comingsoontitle">Coming Soon from the Creators of Tek Tok.</h1>
    <h3 class="comingsoontitle">A place where Tech Talks</h3>
    <img src="./assets/tektok.png" alt="logo" class="img-fluid" height="200px" width="200px">

    
  </div>
</main>