<section class="quiz p-2">
  <div class="quiz-container">
    <div class="title m-2">Personality Quiz</div>
    <div id="question" class="question"></div>
    <div class="flex-column answers p-2">
      <label class="option m-2">
        <input type="radio" name="option" value="1" />
        <span class="opt1"></span>
      </label>
      <label class="option m-2">
        <input type="radio" name="option" value="2" />
        <span class="opt2"></span>
      </label>
      <label class="option m-2">
        <input type="radio" name="option" value="3" />
        <span class="opt3"></span>
      </label>
      <label class="option m-2">
        <input type="radio" name="option" value="4" />
        <span class="opt4"></span>
      </label>
    </div>
    <!-- Buttons -->
    <div class="controls">
      <button class="previous">Previous</button>
      <button class="next">Next</button>
    </div>
  </div>

  <div class="result">

  </div>
</section>
<section class="rps">
  <h4>Coming Soon</h4>
</section>
<section class="tictac">
  <h4>Coming Soon</h4>
</section>

<script src="/js/quiz.js"></script>