<aside class="jokes col-3">
  <h3>Coding Joke of the Day</h3>
  <p>Where coding jokes will get populated (Helper)</p>
  <nav>
    <p>Nav</p>
    <p>Nav</p>
    <p>Nav</p>
  </nav>
</aside>

<section class="post-area col-6">
  <div class="post m-3">
    <h3 class="user-info"><span>profile pic</span>Username</h3>
    <p>post info blah blah blah</p>
  </div>
  <div class="post m-3">
    <h3 class="user-info"><span>profile pic</span>Username</h3>
    <p>post info blah blah blah</p>
  </div>
  <div class="post m-3">
    <h3 class="user-info"><span>profile pic</span>Username</h3>
    <p>post info blah blah blah</p>
  </div>
</section>
<aside class="suggested col-3">
  <div class="user m-3">
    <span>Profile pic</span>
    <h4>Username</h4>
  </div>
  <div class="user m-3">
    <span>Profile pic</span>
    <h4>Username</h4>
  </div>
  <div class="user m-3">
    <span>Profile pic</span>
    <h4>Username</h4>
  </div>
  <div class="user m-3">
    <span>Profile pic</span>
    <h4>Username</h4>
  </div>
</aside>