<aside class="nav col-2">
        <h2 class="px-3">Hello, User!</h2>
        <nav>
          <p>Nav</p>
          <p>Nav</p>
          <p>Nav</p>
        </nav>
      </aside>

      <section class="user-post col-3">
        <h3 class="display-flex justify-center">README.md</h3>
        <div class="post m-3 p-1">
          <p>Hi this is an about me, write what you want about yourself let people know who you are blah blah blah blah</p>
        </div>
      </section>
      <section class="user-post col-3">
        <h3 class="display-flex justify-center">Queries Made</h3>
        <div class="post m-3 p-1">
          <p>post info blah blah blah</p>
        </div>
        <div class="post m-3 p-1">
          <p>post info blah blah blah</p>
        </div>
        <div class="post m-3 p-1">
          <p>post info blah blah blah</p>
        </div>
      </section>
      <section class="user-post col-3">
        <h3 class="display-flex justify-center">Edit Profile</h3>
        <div class="post m-3 p-1">
          <p>change email</p>
          <p>change password</p>
          <p>Edit README</p>
        </div>
      </section>