{{!-- This is the resources page with associated links.  all pages have a target of blank so that when clicked the users browser will open a new tab as well as TekTok staying open--}}
<main class="container2">
  {{!-- <div class="explore">
    <p>Explore more Coding</p>
  </div> --}}

  <section class="sections">
    <div class="cardR1" style="width: 18rem;">
  <img src="/assets/github.png" class="card-img-top" alt="image  of github" style="max-width: 100%; height: auto;"/>
  <div class="card-body">
    <h5 class="card-title">Github</h5>
    <ul>
      <li>
        <a style="text-decoration: none" href="https://docs.github.com/en/get-started/using-git/about-git"
          target="_blank">Github Guide</a>
      </li>
    </ul>
  </div>
  </section>
  
  <section class="sections2">
    <div class="cardR2" style="width: 18rem;">
  <img src="/assets/css.png" class="card-img-top" alt="css image" style="max-width: 100%; height: auto;"/>
  <div class="card-body">
    <h5 class="card-title">CSS</h5>
     <ul>
      <li>
        <a style="text-decoration: none" href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
          target="_blank">Flexbox Guide</a>
      </li>
      <li>
        <a style="text-decoration: none" href="https://garytalmes.github.io/flex-playground/" target="_blank">Flex
          Playground</a>
      </li>
      <li>
        <a style="text-decoration: none" href="https://css-tricks.com/snippets/css/complete-guide-grid/"
          target="_blank">CSS Tricks: A Complete Guide</a>
      </li>
      <li>
        <a style="text-decoration: none" href="https://htmlcheatsheet.com/css/" target="_blank">CSS Cheat-sheet</a>
      </li>
    </ul>
  </div>

  </section>

  <section class="sections3">
    <div class="cardR3" style="width: 18rem;">
  <img src="/assets/javascript.png" class="card-img-top" alt="javascript" style="max-width: 100%; height: auto;">
  <div class="card-body">
    <h5 class="card-title">JavaScript</h5>
     <ul>
      <li>
        <a style="text-decoration: none" href="https://static.semrush.com/blog/uploads/files/ed/16/ed16dcde31055dcbe662137fd04f09f7/javascript-cheat-sheet.pdf"
          target="_blank">JavaScript Cheat-sheet</a>
      </li>
      <li>
        <a style="text-decoration: none" href="https://www.w3schools.com/js/js_exercises.asp"
          target="_blank">w3schools:JavaScript Exercises</a>
      </li>
      <li>
        <a style="text-decoration: none" href="https://www.geeksforgeeks.org/practice-javascript-online/"
          target="_blank">JavaScript Practice</a>
      </li>
      <li>
        <a style="text-decoration: none"
          href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/"
          target="_blank">JavaScript: Algorithms and Data Structures</a>
      </li>
      <li>
        <a style="text-decoration: none"
          href="https://www.paulsblog.dev/learn-javascript-while-playing-games-gamify-your-learning/#amp_tf=From%20%251%24s&aoh=17120275635772&referrer=https%3A%2F%2Fwww.google.com&ampshare=https%3A%2F%2Fwww.paulsblog.dev%2Flearn-javascript-while-playing-games-gamify-your-learning%2F"
          target="_blank">Paul's Blog: js games</a>
      </li>
      <li>
        <a style="text-decoration: none" href="https://www.w3schools.com/html/html5_draganddrop.asp"
          target="_blank">w3schools: Drag and Drop</a>
      </li>
    </ul>
    </div>
  </section>

  <section class="sections4">
    <div class="cardR4" style="width: 18rem;">
  <img src="/assets/sql.png" class="card-img-top" alt="sql image" style="max-width: 100%; height: auto;"/>
  <div class="card-body">
    <h5 class="card-title">SQL</h5>
     <ul>
      <li>
        <a style="text-decoration: none" href="https://docs.digitalocean.com/glossary/acid" target="_blank">ACID
          Compliance</a>
      </li>
      <li>
        <a style="text-decoration: none"
          href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators" target="_blank">Expression
          and Operators</a>
      </li>
    </ul>
  </div>

  </section>

  <section class="sections5">
    <div class="cardR5" style="width: 18rem;">
  <img src="/assets/html.png" class="card-img-top" alt="html image" style="max-width: 100%; height: auto;"/>
  <div class="card-body">
    <h5 class="card-title">HTML</h5>
    <ul>
      <li>
        <a style="text-decoration: none" href="https://github.com/garytalmes/more-html-goodness" target="_blank">HTML
          Goodness by Gary</a>
      </li>
    </ul>
  </div>
  </section>

  <section class="sections6">
     <div class="cardR6" style="width: 18rem;">
  <img src="assets/terminal.png" class="card-img-top" alt="terminal image" style="max-width: 100%; height: auto;"/>
  <div class="card-body">
    <h5 class="card-title">Command Line/Terminal</h5>
    <ul>
      <li>
        <a style="text-decoration: none"
          href="https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Understanding_client-side_tools/Command_line#basic_built-in_terminal_commands"
          target="_blank">Command Line Crash Course</a>
      </li>
    </ul>
  </div>
  </section>

</main>


