.quiz{
  border: 1px grey solid;
  border-radius: 15%;
  background-color: palegoldenrod;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#question{
  font-size: 1.5rem;
}

.option{
  font-size: 1.5rem;
}

.quizbtn{
  background: grey;
  border: none;
  padding: 0;
  cursor: pointer;
  color: antiquewhite;
  text-decoration: none;
  font-size: 100%;
  width: 100px;
  height: 40px;
}

.breakout{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myCanvas {
  background: #eee;
  display: block;
}