.quiz{
  border: 1px grey solid;
  border-radius: 15%;
  background-color: palegoldenrod;
  margin: 0 0 30px 30px;
}

#question{
  font-size: 1.5rem;
  margin-bottom: 0;
}

.option{
  font-size: 1.5rem;
}

.quizbtn{
  background: grey;
  border: none;
  padding: 0;
  cursor: pointer;
  color: antiquewhite;
  text-decoration: none;
  font-size: 100%;
  width: 100px;
  height: 25px;
}

.breakout{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
}