*{
   box-sizing: border-box;
   margin: 0;
   margin-top: 0;
 }
 
body {
   background-color: rgb(250, 243, 215);
}

header {
   background-color:lightslategray;
   color: antiquewhite;
   text-decoration: none;
   font-size: 20px;
}

/* logo header */
.logo {
   display: flex;
   height: 100px;
   width: 160px;
}

nav {
   color: antiquewhite;
   gap: 10px;
   display: flex;
}

.a {
   display: flex;
   text-decoration: none;
   color: antiquewhite;
   margin-right: 20px;
}

/* joke container */
#jokeBox{
   display: flex;
   padding-top: 100px;
   position: static;
   /* height: 60%; */
   border-radius: 10px;
   margin-left: 30px;
   flex-direction:column;
   background-color: rgb(240, 186, 36);

}

.class{
   /* display: flex; */
   background-color: grey;
}

main{
   width: 100vw;
}

.profile-pic{
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

.user {
   display: flex;
   align-items: center;
}

.footer {
   /* position: fixed; */
   bottom: 0;
   width: 100%;
   background-color: lightslategray;
   color: antiquewhite;

}

/*  labelfo the title text */
.label{
   display: flex;
   padding-top: 40px;
}
/* label for the entire text in footer */
#label{
   padding-bottom: 40px;
}

/* footer tektok word */
#tektok{
   display: flex;
   justify-items: center;
   margin-top: 100px
}











