* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Anonymous Pro", monospace;
   font-weight: 700;
   font-style: normal;
   text-wrap: nowrap;
}

h1{
   font-size: 2rem;
}
h2{
   font-size: 1.5rem;
}
h3{
   font-size: 1.3rem;
}
h4{
   font-size: 1rem;
}
h5{
   font-size: 0.8rem;
}
h6{
   font-size: 0.7rem;
}

.row {
   --bs-gutter-x: gutter x 0px;
}

body {
   font-family: "Anonymous Pro", monospace;
   font-weight: 400;
   font-style: normal;
   background-color: rgb(221, 230, 244);
}

header {
   background-color: rgb(81, 92, 104);
   color: antiquewhite;
   text-decoration: none;
   font-size: 20px;
   width: 100%;
   /* padding-right: 100px; */
}

/* logo header */
.logo {
   display: flex;
   height: 100px;
   width: 160px;
}

#nowrap {
   flex-wrap: nowrap;
}

nav {
   color: antiquewhite;
   gap: 20px;
   display: flex;
   font-size: 25px;
   margin-right: 30px;
}

ul.nav-list {
   list-style-type: none;
}

.nav-item {
   display: inline;
}

.a {
   display: flex;
   text-decoration: none;
   color: antiquewhite;
   margin-right: 20px;
}

.no-button {
   background: none;
   border: none;
   padding: 0;
   cursor: pointer;
   color: antiquewhite;
   text-decoration: none;
   font-size: 100%;
}

.no-button:hover {
   color: rgb(240, 186, 36);
   text-decoration: underline;
}



.postdate {
   font-size: 12px;
   color: rgb(81, 92, 104)
}

/* suggested text */
.sugest {
   display: flex;
   justify-content: center;
}

#asidecards {
   justify-content: centers;
}


#rightCard {
   display: flex;
   justify-content: space-between;
   justify-items: center;
}

/* main body */
main {
   top: 0;
   width: 100%;
}

/* the card on the right hand side */
#pcards {
   background-color: rgb(240, 186, 36);
}

/* profile pic decor */
.profile-pic {
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

/* follow button */
.follow {
   border-width: 0;
   justify-items: center;
   height: 30px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   background-color: rgb(240, 186, 36);
   border-radius: 5px;
}

/* cardtext label on the right */
.user {
   display: flex;
   align-items: center;
}

/* follow card */
#rightCard {
   padding-right: 50px;
}

/* footer */
.footer {
   bottom: 0;
   width: 100%;
   background-color: rgb(81, 92, 104);
   color: antiquewhite;

}

/*  label for the title text on the footer bar */
.label {
   display: flex;
   padding-top: 40px;
}

/* label for the entire text in footer */
#label {
   padding-bottom: 40px;
}

/* footer tektok text */
#tektok {
   display: flex;
   justify-items: center;
}

/* resourse page */
.container2 {
   display: flex;
   margin-top: -26px;
   flex-wrap: wrap;
   justify-content: center;
   padding: 20px;
   background-color: rgb(240, 186, 36);
   gap: 15px;
   width: 100%;
}

.cardR1 {
   /* display: flex; */
   color: black;
   height: 400px;
   flex-direction: column;
   justify-content: center;
   /* padding-top:20px; */
   border-radius: 10px;
   background-color: rgb(221, 230, 244);
}

.cardR2 {
   color: black;
   height: 400px;

   padding-top: 20px;
   border-radius: 10px;
   background-color: rgb(221, 230, 244);
   flex-direction: column;
   justify-content: center;
   /* padding-top:20px; */
   border-radius: 10px;
   background-color: rgb(221, 230, 244);
}

.cardR3 {
   color: black;
   height: 400px;
   flex-direction: column;
   justify-content: center;
   /* padding-top:20px; */
   border-radius: 10px;
   background-color: rgb(221, 230, 244);
}

.cardR4 {
   color: black;
   height: 400px;
   flex-direction: column;
   justify-content: center;
   /* padding-top:20px; */
   border-radius: 10px;
   background-color: rgb(221, 230, 244);
}

.cardR5 {
   color: black;
   height: 400px;
   flex-direction: column;
   justify-content: center;
   /* padding-top:20px; */
   border-radius: 10px;
   background-color: rgb(221, 230, 244);
}

.cardR6 {
   color: black;
   height: 400px;
   flex-direction: column;
   justify-content: center;
   /* padding-top:20px; */
   border-radius: 10px;
   background-color: rgb(221, 230, 244);

}

.sections,
.sections2,
.sections3,
.sections4,
.sections5,
.sections6 {
   flex: 0 0 calc(33.33% - 300px);

}

.card-title {
   display: flex;
   justify-content: center;
}


.cardR1:hover {
   transition: all 0.3s;
}

.cardR2:hover {
   transition: all 0.3s;
}

.cardR3:hover {
   transition: all 0.3s;
}

.cardR4:hover {
   transition: all 0.3s;
}

.cardR5:hover {
   transition: all 0.3s;
}

.cardR6:hover {
   transition: all 0.3s;
}


.cardR1:hover {
   transform: scale(1.15);
}

.cardR2:hover {
   transform: scale(1.15);
}

.cardR3:hover {
   transform: scale(1.15);
}

.cardR4:hover {
   transform: scale(1.15);
}

.cardR5:hover {
   transform: scale(1.15);
}

.cardR6:hover {
   transform: scale(1.15);
}

.explore {
   display: flex;
   justify-content: center;
   /* padding-right: 1500px; */
   text-align: center;
   margin-bottom: 20px;
   padding-top: 20px;
   border-radius: 10px;


}

:root {
   --animate-duration: 2s;
   --animate-delay: 1s;
}

#myCanvas {
   background: #eee;
   display: block;
}

/* Homepage Section */
/* joke container */
#jokeBox {
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: rgb(240, 186, 36);
}

/* Make A Query Section */
.query-form{
   background-color: #f5f5f5;
   border: 1px grey solid;
   border-radius: 10px;
}

.queries{
   font-size: 1.3rem;
   font-weight: 700;
}

#queries{
   height: 4rem;
   resize: none;
}

.submitBtn{
   background: grey;
   border: none;
   padding: 0;
   cursor: pointer;
   color: antiquewhite;
   text-decoration: none;
   font-size: 100%;
   width: 100px;
   height: 25px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   header, .footer{
      background-color: rgb(58, 14, 99);
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}